<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency</title>
  </head>
  <body>
    <h1>Your word: {{ word }}, appears {{ count }} time/s in this sentence/group: {{ sentence }}.</h1>
  </body>
</html>
