<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency</title>
  </head>
  <body>
      <h1>Word Frequency Search</h1>
      <p>Enter a single word in the first form, then enter a group of words or sentence and click submit. You will then be shown how many times your entered word occurs in your group or sentence.</p>
      <h3>Fill out the form here:</h3>
      <form class="" action="/counts">
        <label for="input1">Enter Single Word:</label>
        <input name="input1" required>
        <label for="input_check">Enter Group of Words or Sentence:</label>
        <input name="input_check" required>
        <button type="submit">Submit</button>
      </form>
  </body>
</html>
